@font-face {
  font-family: "iconfont"; /* Project id 2778449 */
  src: url('iconfont.woff2?t=1633943606387') format('woff2'),
       url('iconfont.woff?t=1633943606387') format('woff'),
       url('iconfont.ttf?t=1633943606387') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icongouwuche_jianyifankui:before {
  content: "\e60e";
}

.iconico08:before {
  content: "\e609";
}

.iconico06:before {
  content: "\e608";
}

.icongouwuche_yongjin:before {
  content: "\e60d";
}

.icontongji-copy-copy:before {
  content: "\e624";
}

.iconyemianxiafangicon_jianguanpingtai-copy:before {
  content: "\e628";
}

